{"openapi":"3.0.1","info":{"title":"微招（Weib）平台 API","description":"微招在线招聘平台接口文档。\n\n账号规则：用户名 3–32 位，仅允许字母、数字、下划线和中文。\n密码规则：注册/修改/重置密码时为 8–64 位，必须同时包含大写字母、小写字母和数字，且不能与用户名或手机号相同。\n登录输入：用户名或手机号最多 32 位，密码最多 64 位；登录失败不返回具体密码规则。\n手机号：11 位中国大陆手机号；验证码：4 位，有效期 120 秒。\n\n用户端：Session + CSRF Token；管理后台：JWT Bearer Token。\n标注为幂等的写接口必须传 Idempotency-Key，格式为 8–128 位字母、数字、点、下划线、冒号或连字符。\n","version":"1.1.0"},"servers":[{"url":"http://superorange.top","description":"Generated server url"}],"paths":{"/api/mobile/boss/jobs/{jobId}":{"put":{"tags":["mobile-boss-controller"],"operationId":"updateJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/boss/company":{"get":{"tags":["mobile-boss-controller"],"operationId":"company","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"put":{"tags":["mobile-boss-controller"],"operationId":"updateCompany","parameters":[{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/users/{id}/unban":{"put":{"tags":["admin-user-controller"],"operationId":"unban","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/users/{id}/reset-password":{"put":{"tags":["admin-user-controller"],"operationId":"resetPassword","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/users/{id}/ban":{"put":{"tags":["admin-user-controller"],"operationId":"ban","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/jobs/{id}/reject":{"put":{"tags":["admin-job-controller"],"operationId":"reject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/jobs/{id}/approve":{"put":{"tags":["admin-job-controller"],"operationId":"approve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/identities/users/{userId}/{role}/enable":{"put":{"tags":["admin-identity-controller"],"operationId":"enable","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"role","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultUserRole"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/identities/users/{userId}/{role}/disable":{"put":{"tags":["admin-identity-controller"],"operationId":"disable","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"role","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultUserRole"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/companies/{id}/reject":{"put":{"tags":["admin-company-controller"],"operationId":"reject_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/companies/{id}/approve":{"put":{"tags":["admin-company-controller"],"operationId":"approve_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/admins/{userId}":{"put":{"tags":["admin-admin-controller"],"operationId":"updateRole","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/admins/{userId}/disable":{"put":{"tags":["admin-admin-controller"],"operationId":"disable_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/job/{encodedId}/favorite":{"post":{"tags":["job-controller"],"operationId":"toggleFavorite","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/job/{encodedId}/apply":{"post":{"tags":["job-controller"],"operationId":"apply","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/chat/upload":{"post":{"tags":["chat-controller"],"operationId":"uploadFile","parameters":[{"name":"conversationId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/boss/job/reopen/{encodedId}":{"post":{"tags":["boss-controller"],"operationId":"reopenJob","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/boss/application/{encodedId}/status":{"post":{"tags":["boss-controller"],"operationId":"updateApplicationStatus","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string"}},{"name":"bossNote","in":"query","required":false,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/boss/application/{encodedId}/interview":{"post":{"tags":["boss-controller"],"operationId":"scheduleInterview","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/application/{encodedId}/withdraw":{"post":{"tags":["job-controller"],"operationId":"withdraw","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/seeker/resume":{"get":{"tags":["seeker-api-controller"],"operationId":"viewResume_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}},"post":{"tags":["seeker-api-controller"],"operationId":"saveResume","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/seeker/resume/media":{"post":{"tags":["resume-media-controller"],"operationId":"upload","parameters":[{"name":"kind","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/seeker/logout":{"post":{"tags":["seeker-api-controller"],"operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/notifications/{id}/read":{"post":{"tags":["notification-controller"],"operationId":"markRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/notifications/read-all":{"post":{"tags":["notification-controller"],"operationId":"markAllRead","parameters":[{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/seeker/jobs/{jobId}/favorite":{"post":{"tags":["mobile-seeker-action-controller"],"operationId":"favorite","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/seeker/jobs/{jobId}/apply":{"post":{"tags":["mobile-seeker-action-controller"],"operationId":"apply_1","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/seeker/applications/{applicationId}/withdraw":{"post":{"tags":["mobile-seeker-action-controller"],"operationId":"withdraw_1","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/resume-access/requests":{"get":{"tags":["mobile-resume-access-controller"],"operationId":"list","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["mobile-resume-access-controller"],"operationId":"request","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/resume-access/requests/{id}/decision":{"post":{"tags":["mobile-resume-access-controller"],"operationId":"decide","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"boolean"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/notifications/{id}/read":{"post":{"tags":["mobile-notification-controller"],"operationId":"read","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/mobile/notifications/push-token":{"post":{"tags":["mobile-notification-controller"],"operationId":"token","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/mobile/boss/jobs":{"get":{"tags":["mobile-boss-controller"],"operationId":"jobs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}},"post":{"tags":["mobile-boss-controller"],"operationId":"createJob","parameters":[{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/boss/jobs/{jobId}/reopen":{"post":{"tags":["mobile-boss-controller"],"operationId":"reopenJob_1","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/boss/jobs/{jobId}/close":{"post":{"tags":["mobile-boss-controller"],"operationId":"closeJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/boss/applications/{applicationId}/status":{"post":{"tags":["mobile-boss-controller"],"operationId":"status","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/boss/applications/{applicationId}/interview":{"post":{"tags":["mobile-boss-controller"],"operationId":"interview","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/mobile/auth/logout":{"post":{"tags":["mobile-auth-controller"],"operationId":"logout_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/mobile/auth/login":{"post":{"tags":["mobile-auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMobileLoginResponse"}}}}}}},"/api/forum/posts":{"get":{"tags":["forum-controller"],"operationId":"posts","parameters":[{"name":"sectionId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"q","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseForumPostResponse"}}}}}},"post":{"tags":["forum-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForumPostCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultForumPostResponse"}}}}}}},"/api/forum/posts/{id}/like":{"post":{"tags":["forum-controller"],"operationId":"like","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}},"delete":{"tags":["forum-controller"],"operationId":"unlike","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/forum/posts/{id}/favorite":{"post":{"tags":["forum-controller"],"operationId":"favorite_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}},"delete":{"tags":["forum-controller"],"operationId":"unfavorite","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/forum/posts/{id}/comments":{"get":{"tags":["forum-controller"],"operationId":"comments","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListForumCommentResponse"}}}}}},"post":{"tags":["forum-controller"],"operationId":"comment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForumCommentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultForumCommentResponse"}}}}}}},"/api/forum/media":{"post":{"tags":["forum-media-controller"],"operationId":"upload_1","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/complaints":{"post":{"tags":["complaint-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplaintCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultComplaintResponse"}}}}}}},"/api/chat/send":{"post":{"tags":["chat-controller"],"operationId":"sendMessage","parameters":[{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMessage"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/chat/mark-read":{"post":{"tags":["chat-controller"],"operationId":"apiMarkRead","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/appeals":{"post":{"tags":["appeal-controller"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppealCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultAppealResponse"}}}}}}},"/api/appeals/evidence":{"post":{"tags":["appeal-media-controller"],"operationId":"upload_2","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/admin/sessions/users/{userId}/force-logout":{"post":{"tags":["admin-session-controller"],"operationId":"forceLogout","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/sanctions":{"get":{"tags":["admin-complaint-controller"],"operationId":"sanctions","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseSanctionResponse"}}}}}},"post":{"tags":["admin-complaint-controller"],"operationId":"createSanction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SanctionCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultSanctionResponse"}}}}}}},"/api/admin/sanctions/{id}/revoke":{"post":{"tags":["admin-complaint-controller"],"operationId":"revoke","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/admin/jobs/batch-offline":{"post":{"tags":["admin-job-controller"],"operationId":"batchOffline","parameters":[{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int64"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/api/admin/complaints/{id}/resolve":{"post":{"tags":["admin-complaint-controller"],"operationId":"resolve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplaintReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/admin/complaints/{id}/reject":{"post":{"tags":["admin-complaint-controller"],"operationId":"reject_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/admin/auth/logout":{"post":{"tags":["admin-auth-controller"],"operationId":"logout_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/admin/auth/login":{"post":{"tags":["admin-auth-controller"],"operationId":"login_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultLoginResponse"}}}}}}},"/api/admin/appeals/{id}/reject":{"post":{"tags":["admin-appeal-controller"],"operationId":"reject_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppealReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/admin/appeals/{id}/approve":{"post":{"tags":["admin-appeal-controller"],"operationId":"approve_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppealReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVoid"}}}}}}},"/api/admin/admins":{"get":{"tags":["admin-admin-controller"],"operationId":"list_8","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListMapStringObject"}}}}}},"post":{"tags":["admin-admin-controller"],"operationId":"create_3","parameters":[{"name":"Idempotency-Key","in":"header","description":"幂等键。同一次操作及其重试必须复用同一个值；建议使用 UUID。","required":true,"schema":{"maxLength":128,"minLength":8,"pattern":"^[A-Za-z0-9._:-]{8,128}$","type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAdminRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}},"400":{"description":"缺少或非法幂等键/请求参数不合法"},"409":{"description":"相同操作正在处理中，请勿重复提交"}}}},"/check-username":{"get":{"tags":["user-controller"],"operationId":"checkUsername","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}},{"name":"phone","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/captcha":{"get":{"tags":["captcha-controller"],"operationId":"captcha","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/boss/resume/{encodedUserId}":{"get":{"tags":["boss-controller"],"operationId":"viewResume","parameters":[{"name":"encodedUserId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/boss/job/{encodedId}/stats":{"get":{"tags":["boss-controller"],"operationId":"jobStats","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/seeker/notifications":{"get":{"tags":["seeker-api-controller"],"operationId":"notifications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/seeker/jobs":{"get":{"tags":["seeker-api-controller"],"operationId":"jobList","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"city","in":"query","required":false,"schema":{"type":"string"}},{"name":"education","in":"query","required":false,"schema":{"type":"string"}},{"name":"experience","in":"query","required":false,"schema":{"type":"string"}},{"name":"salaryMin","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"salaryMax","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"newest"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/seeker/job/{encodedId}":{"get":{"tags":["seeker-api-controller"],"operationId":"jobDetail","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/seeker/favorites":{"get":{"tags":["seeker-api-controller"],"operationId":"myFavorites","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListMapStringObject"}}}}}}},"/api/seeker/conversations":{"get":{"tags":["seeker-api-controller"],"operationId":"conversations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListMapStringObject"}}}}}}},"/api/seeker/company/{encodedId}":{"get":{"tags":["seeker-api-controller"],"operationId":"companyDetail","parameters":[{"name":"encodedId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/seeker/applications":{"get":{"tags":["seeker-api-controller"],"operationId":"myApplications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListMapStringObject"}}}}}}},"/api/mobile/resume-access/requests/{id}/resume":{"get":{"tags":["mobile-resume-access-controller"],"operationId":"resume","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/notifications":{"get":{"tags":["mobile-notification-controller"],"operationId":"list_1","parameters":[{"name":"afterEventId","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/common/notifications":{"get":{"tags":["mobile-common-controller"],"operationId":"notifications_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/boss/talents":{"get":{"tags":["mobile-boss-controller"],"operationId":"talents","parameters":[{"name":"q","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/boss/jobs/{jobId}/stats":{"get":{"tags":["mobile-boss-controller"],"operationId":"jobStats_1","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/boss/dashboard":{"get":{"tags":["mobile-boss-controller"],"operationId":"dashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/boss/applications":{"get":{"tags":["mobile-boss-controller"],"operationId":"applications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/boss/applications/{applicationId}/resume":{"get":{"tags":["mobile-boss-controller"],"operationId":"resume_1","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/mobile/auth/me":{"get":{"tags":["mobile-auth-controller"],"operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMobileUser"}}}}}}},"/api/geocode":{"get":{"tags":["map-controller"],"operationId":"geocode","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}},{"name":"city","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/forum/sections":{"get":{"tags":["forum-controller"],"operationId":"sections","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListForumSectionResponse"}}}}}}},"/api/forum/posts/{id}":{"get":{"tags":["forum-controller"],"operationId":"detail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultForumPostResponse"}}}}}}},"/api/complaints/{id}":{"get":{"tags":["complaint-controller"],"operationId":"detail_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultComplaintResponse"}}}}}}},"/api/complaints/mine":{"get":{"tags":["complaint-controller"],"operationId":"mine","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListComplaintResponse"}}}}}}},"/api/chat/online-status/{userId}":{"get":{"tags":["chat-controller"],"operationId":"onlineStatus","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/chat/messages/{conversationId}":{"get":{"tags":["chat-controller"],"operationId":"syncMessages","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sinceId","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListMessage"}}}}}}},"/api/appeals/{id}":{"get":{"tags":["appeal-controller"],"operationId":"detail_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultAppealResponse"}}}}}}},"/api/appeals/mine":{"get":{"tags":["appeal-controller"],"operationId":"mine_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseAppealResponse"}}}}}}},"/api/admin/users":{"get":{"tags":["admin-user-controller"],"operationId":"list_2","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"role","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseUserListResponse"}}}}}}},"/api/admin/users/{id}":{"get":{"tags":["admin-user-controller"],"operationId":"detail_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultUserDetailResponse"}}}}}}},"/api/admin/sessions/users/{userId}":{"get":{"tags":["admin-session-controller"],"operationId":"sessions","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringLoginSlot"}}}}}}},"/api/admin/search":{"get":{"tags":["admin-search-controller"],"operationId":"search","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","default":"ALL"}},{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseAdminSearchResponse"}}}}}}},"/api/admin/search/{type}/{id}":{"get":{"tags":["admin-search-controller"],"operationId":"detail_4","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultAdminSearchDetailResponse"}}}}}}},"/api/admin/jobs":{"get":{"tags":["admin-job-controller"],"operationId":"list_3","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseJobListResponse"}}}}}}},"/api/admin/jobs/{id}":{"get":{"tags":["admin-job-controller"],"operationId":"detail_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultJobListResponse"}}}}}}},"/api/admin/identities/users/{userId}":{"get":{"tags":["admin-identity-controller"],"operationId":"list_4","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListUserRole"}}}}}}},"/api/admin/export/users":{"get":{"tags":["admin-export-controller"],"operationId":"exportUsers","parameters":[{"name":"role","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}}}}},"/api/admin/export/audit-logs":{"get":{"tags":["admin-export-controller"],"operationId":"exportAuditLogs","parameters":[{"name":"action","in":"query","required":false,"schema":{"type":"string"}},{"name":"adminId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}}}}},"/api/admin/dashboard/stats":{"get":{"tags":["admin-dashboard-controller"],"operationId":"stats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultDashboardStatsResponse"}}}}}}},"/api/admin/dashboard/recent-logs":{"get":{"tags":["admin-dashboard-controller"],"operationId":"recentLogs","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListAuditLog"}}}}}}},"/api/admin/dashboard/charts":{"get":{"tags":["admin-dashboard-controller"],"operationId":"charts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObject"}}}}}}},"/api/admin/complaints":{"get":{"tags":["admin-complaint-controller"],"operationId":"complaints","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseComplaintListResponse"}}}}}}},"/api/admin/complaints/{id}":{"get":{"tags":["admin-complaint-controller"],"operationId":"detail_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultComplaintListResponse"}}}}}}},"/api/admin/companies":{"get":{"tags":["admin-company-controller"],"operationId":"list_5","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseCompanyListResponse"}}}}}}},"/api/admin/companies/{id}":{"get":{"tags":["admin-company-controller"],"operationId":"detail_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCompanyListResponse"}}}}}}},"/api/admin/auth/me":{"get":{"tags":["admin-auth-controller"],"operationId":"me_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultMapStringObject"}}}}}}},"/api/admin/audit-logs":{"get":{"tags":["admin-audit-log-controller"],"operationId":"list_6","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"action","in":"query","required":false,"schema":{"type":"string"}},{"name":"adminId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseAuditLogResponse"}}}}}}},"/api/admin/appeals":{"get":{"tags":["admin-appeal-controller"],"operationId":"list_7","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageResponseAppealResponse"}}}}}}},"/api/admin/appeals/{id}":{"get":{"tags":["admin-appeal-controller"],"operationId":"detail_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultAppealResponse"}}}}}}}},"components":{"schemas":{"Result":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"object"}}},"JobPayload":{"type":"object","properties":{"title":{"type":"string"},"salaryMin":{"type":"integer","format":"int32"},"salaryMax":{"type":"integer","format":"int32"},"city":{"type":"string"},"address":{"type":"string"},"education":{"type":"string"},"experience":{"type":"string"},"description":{"type":"string"},"requirements":{"type":"string"},"tags":{"type":"string"}}},"ResultObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"object"}}},"CompanyPayload":{"type":"object","properties":{"industry":{"type":"string"},"scale":{"type":"string"},"address":{"type":"string"},"description":{"type":"string"},"contactName":{"type":"string"},"contactPhone":{"type":"string"},"contactEmail":{"type":"string"},"longitude":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"}}},"ResultVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"object"}}},"ResultUserRole":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/UserRole"}}},"UserRole":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"roleType":{"type":"string"},"status":{"type":"string"},"enabledAt":{"type":"string","format":"date-time"},"enabledBy":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ResultMapStringObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"object","additionalProperties":{"type":"object"}}}},"StatusPayload":{"type":"object","properties":{"status":{"type":"string"},"bossNote":{"type":"string"}}},"InterviewPayload":{"type":"object","properties":{"interviewTime":{"type":"string"},"interviewLocation":{"type":"string"},"bossNote":{"type":"string"}}},"MobileLoginRequest":{"required":["captcha","password","username"],"type":"object","properties":{"username":{"maxLength":32,"minLength":0,"type":"string"},"password":{"maxLength":64,"minLength":0,"type":"string"},"captcha":{"maxLength":8,"minLength":0,"type":"string"},"selectedRole":{"maxLength":20,"minLength":0,"type":"string"}}},"MobileLoginResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"tokenType":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"user":{"$ref":"#/components/schemas/MobileUser"}}},"MobileUser":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"nickname":{"type":"string"},"avatar":{"type":"string"},"role":{"type":"string"},"activeRole":{"type":"string"}}},"ResultMobileLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/MobileLoginResponse"}}},"ForumPostCreateRequest":{"type":"object","properties":{"sectionId":{"type":"integer","format":"int64"},"title":{"type":"string"},"content":{"type":"string"},"imageUrls":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}}}},"ForumPostResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sectionId":{"type":"integer","format":"int64"},"authorId":{"type":"integer","format":"int64"},"authorRole":{"type":"string"},"authorName":{"type":"string"},"avatar":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"imageUrls":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"likeCount":{"type":"integer","format":"int32"},"commentCount":{"type":"integer","format":"int32"},"favoriteCount":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ResultForumPostResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/ForumPostResponse"}}},"ForumCommentCreateRequest":{"type":"object","properties":{"content":{"type":"string"}}},"ForumCommentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"postId":{"type":"integer","format":"int64"},"authorId":{"type":"integer","format":"int64"},"authorRole":{"type":"string"},"authorName":{"type":"string"},"avatar":{"type":"string"},"content":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ResultForumCommentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/ForumCommentResponse"}}},"ComplaintCreateRequest":{"type":"object","properties":{"targetType":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"category":{"type":"string"},"description":{"type":"string"},"evidenceUrls":{"type":"array","items":{"type":"string"}}}},"ComplaintResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"targetType":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"category":{"type":"string"},"description":{"type":"string"},"evidenceUrls":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"reviewReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"reviewedAt":{"type":"string","format":"date-time"}}},"ResultComplaintResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/ComplaintResponse"}}},"Message":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"conversationId":{"type":"string"},"senderId":{"type":"integer","format":"int64"},"senderRole":{"type":"string"},"receiverId":{"type":"integer","format":"int64"},"receiverRole":{"type":"string"},"clientMessageId":{"type":"string"},"content":{"type":"string"},"messageType":{"type":"string"},"fileName":{"type":"string"},"filePath":{"type":"string"},"fileSize":{"type":"integer","format":"int64"},"isRead":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"ResultMessage":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/Message"}}},"AppealCreateRequest":{"type":"object","properties":{"sanctionId":{"type":"integer","format":"int64"},"reason":{"type":"string"},"evidenceUrls":{"type":"array","items":{"type":"string"}}}},"AppealResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sanctionId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"reason":{"type":"string"},"evidenceUrls":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"reviewReason":{"type":"string"},"reviewedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"ResultAppealResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/AppealResponse"}}},"SanctionCreateRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"sanctionType":{"type":"string"},"targetType":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"sourceComplaintId":{"type":"integer","format":"int64"},"reason":{"type":"string"},"startsAt":{"type":"string","format":"date-time"},"endsAt":{"type":"string","format":"date-time"}}},"ResultSanctionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/SanctionResponse"}}},"SanctionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"sanctionType":{"type":"string"},"targetType":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"reason":{"type":"string"},"startsAt":{"type":"string","format":"date-time"},"endsAt":{"type":"string","format":"date-time"},"status":{"type":"string"},"adminId":{"type":"integer","format":"int64"}}},"ComplaintReviewRequest":{"type":"object","properties":{"reason":{"type":"string"},"contentAction":{"type":"string"},"sanction":{"$ref":"#/components/schemas/SanctionCreateRequest"}}},"LoginRequest":{"required":["password","username"],"type":"object","properties":{"username":{"maxLength":32,"minLength":0,"type":"string","description":"用户名，最多 32 位","example":"admin"},"password":{"maxLength":64,"minLength":0,"type":"string","description":"密码输入最多 64 位","format":"password","example":"Admin123456"}},"description":"管理员登录请求"},"AdminInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"nickname":{"type":"string"},"roleType":{"type":"string"}}},"LoginResponse":{"type":"object","properties":{"token":{"type":"string"},"admin":{"$ref":"#/components/schemas/AdminInfo"}}},"ResultLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"AppealReviewRequest":{"type":"object","properties":{"reason":{"type":"string"}}},"CreateAdminRequest":{"required":["password","roleType","username"],"type":"object","properties":{"username":{"maxLength":32,"minLength":3,"pattern":"^[a-zA-Z0-9_一-龥]+$","type":"string","description":"用户名：3–32 位，仅允许字母、数字、下划线和中文","example":"audit_user"},"password":{"maxLength":64,"minLength":8,"type":"string","description":"密码：8–64 位，必须同时包含大写字母、小写字母和数字，且不能与用户名相同","format":"password","example":"TestAdmin123"},"roleType":{"pattern":"super_admin|auditor|viewer","type":"string","description":"管理员角色","example":"auditor","enum":["super_admin","auditor","viewer"]}},"description":"创建子管理员请求。密码必须符合统一强度规则。"},"ResultListMapStringObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}},"ResultMobileUser":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/MobileUser"}}},"ForumSectionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"}}},"ResultListForumSectionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ForumSectionResponse"}}}},"PageResponseForumPostResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ForumPostResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseForumPostResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseForumPostResponse"}}},"ResultListForumCommentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ForumCommentResponse"}}}},"ResultListComplaintResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ComplaintResponse"}}}},"ResultListMessage":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}},"PageResponseAppealResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AppealResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseAppealResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseAppealResponse"}}},"PageResponseUserListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/UserListResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseUserListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseUserListResponse"}}},"UserListResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"nickname":{"type":"string"},"phone":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"resumeCount":{"type":"integer","format":"int64"},"applicationCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"ResultUserDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/UserDetailResponse"}}},"ResumeInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"realName":{"type":"string"},"education":{"type":"string"},"school":{"type":"string"},"skills":{"type":"string"}}},"UserDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"nickname":{"type":"string"},"phone":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"resumeCount":{"type":"integer","format":"int64"},"applicationCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"email":{"type":"string"},"resumeList":{"type":"array","items":{"$ref":"#/components/schemas/ResumeInfo"}}}},"LoginSlot":{"type":"object","properties":{"sid":{"type":"string"},"activeRole":{"type":"string"},"clientType":{"type":"string"},"issuedAt":{"type":"integer","format":"int64"},"deviceIdHash":{"type":"string"}}},"ResultMapStringLoginSlot":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/LoginSlot"}}}},"AdminSearchResponse":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"integer","format":"int64"},"ownerId":{"type":"integer","format":"int64"},"title":{"type":"string"},"subtitle":{"type":"string"},"avatar":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"PageResponseAdminSearchResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminSearchResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseAdminSearchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseAdminSearchResponse"}}},"AdminSearchDetailResponse":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"integer","format":"int64"},"data":{"type":"object","additionalProperties":{"type":"object"}}}},"ResultAdminSearchDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminSearchDetailResponse"}}},"PageResponseSanctionResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/SanctionResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseSanctionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseSanctionResponse"}}},"JobListResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"companyName":{"type":"string"},"companyId":{"type":"integer","format":"int64"},"salaryMin":{"type":"integer","format":"int32"},"salaryMax":{"type":"integer","format":"int32"},"city":{"type":"string"},"education":{"type":"string"},"experience":{"type":"string"},"description":{"type":"string"},"auditStatus":{"type":"string"},"auditReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"PageResponseJobListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/JobListResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseJobListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseJobListResponse"}}},"ResultJobListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/JobListResponse"}}},"ResultListUserRole":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}},"DashboardStatsResponse":{"type":"object","properties":{"totalUsers":{"type":"integer","format":"int64"},"totalJobs":{"type":"integer","format":"int64"},"todayNewUsers":{"type":"integer","format":"int64"},"pendingCount":{"type":"integer","format":"int64"},"userGrowth":{"type":"array","items":{"$ref":"#/components/schemas/UserGrowthPoint"}},"jobDistribution":{"type":"array","items":{"$ref":"#/components/schemas/JobDistribution"}}}},"JobDistribution":{"type":"object","properties":{"industry":{"type":"string"},"count":{"type":"integer","format":"int64"}}},"ResultDashboardStatsResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/DashboardStatsResponse"}}},"UserGrowthPoint":{"type":"object","properties":{"date":{"type":"string"},"count":{"type":"integer","format":"int64"}}},"AuditLog":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"adminId":{"type":"integer","format":"int64"},"action":{"type":"string"},"targetType":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"reason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ResultListAuditLog":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AuditLog"}}}},"ComplaintListResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"reporterId":{"type":"integer","format":"int64"},"targetType":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"category":{"type":"string"},"description":{"type":"string"},"evidenceUrls":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"reviewReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"reviewedAt":{"type":"string","format":"date-time"}}},"PageResponseComplaintListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ComplaintListResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseComplaintListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseComplaintListResponse"}}},"ResultComplaintListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/ComplaintListResponse"}}},"CompanyListResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"industry":{"type":"string"},"scale":{"type":"string"},"address":{"type":"string"},"description":{"type":"string"},"bossName":{"type":"string"},"auditStatus":{"type":"string"},"auditReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"PageResponseCompanyListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CompanyListResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseCompanyListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCompanyListResponse"}}},"ResultCompanyListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/CompanyListResponse"}}},"AuditLogResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"adminId":{"type":"integer","format":"int64"},"adminName":{"type":"string"},"action":{"type":"string"},"targetType":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"reason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"PageResponseAuditLogResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AuditLogResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"ResultPageResponseAuditLogResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseAuditLogResponse"}}}}}}